.side-nav {
	font-size: 1.6rem;
	font-weight: 300;
	background: $color-grey-light-1;
	min-height: 80rem;
	border-top-left-radius: 3rem;
	/* .side-nav__item */
	&__item {
		border-top-left-radius: 3rem;
		position: relative;
		width: 23rem;
		 &::before{
		 	border-top-left-radius: 3rem;
	    	content: "";
	    	position: absolute;
	    	bottom: 0;
			left: 0;
			transform: scaleY(0);
			height: 3px;
	       	width: 100%;
			background: $color-primary;
			z-index: 1;
			transition: transform .3s,
	                    height .4s cubic-bezier(0,0,0,1) .3s,
	                    background-color .1s;

	    }
	    &:hover::before {

			transform: scale(1);
			height: 100%;
		}
		&:hover .side-nav__link{
			color: $color-light-1;
		}
		&:hover .side-nav__dropdown{
			left: 23rem; 
			opacity: 1;
			z-index: 2;
		}
	}

	
	/* .side-nav__link */
	&__link:link,
	&__link:visited{
		color: $color-dark-1;
		text-decoration: none;
		display: block;
		padding: 1.5rem 3rem;
		position: relative;
		z-index: 2;
		transition: 0.6s;
	}
	/* .side-nav_act */
	&_act {
		color: $color-light-1;
		background: $color-primary;
		.side-nav__link{
			color: $color-light-1;
		}
	}
	/* .side-nav__dropdown */
	&__dropdown {
		
		opacity: 0;
		z-index: -100;
		position: absolute;
		top: 0;
		left: 40rem; 
		width: 70%;
		padding-left: 0px; 
		padding-right: 0px; 
		transition: z-index .3s,
					opacity 0.5s,
					left .7s;
		flex-wrap: wrap;
	}
	/* .side-nav__dropdown-item */
	&__dropdown-item{

		padding: 0.5rem;
		padding-left: 1.5rem;
		display:flex;
		align-items: center;
		position: relative;
		background: $color-grey-light-1;
		&::before{

	    	content: "";
	    	position: absolute;
	    	bottom: 0;
			left: 0;
			transform: scaleY(0);
			height: 3px;
	       	width: 100%;
			background: $color-primary;
			z-index: 3;
			transition: transform .3s,
	                    height .4s cubic-bezier(0,0,0,1) .3s,
	                    background-color .1s;

	    }
	    &:hover::before {

			transform: scale(1);
			height: 100%;
		}
		&:hover .side-nav__dropdown-link{
			color: $color-light-1;
		}
		&:hover .side-nav__dropdown-second{
			left: 16rem; 
			opacity: 1;
			z-index: 2;
		}
	}

	//__dropdown-link
	&__dropdown-link{
		
		color: $color-dark-1;
		display: flex;
		align-items: center;
		// justify-content: center;
		z-index: 4;
		position: relative;
		padding: .8rem 1rem;
		transition: 0.6s;
	}
	//////////////////////////
	//////////////////////////
	&__dropdown-second{
		opacity: 0;
		z-index: -100;
		position: absolute;
		top: 0;
		left: 16rem; 
		width: 100%;
		padding-left: 0px; 
		padding-right: 0px; 
		transition: z-index .3s,
					opacity 0.5s,
					left .7s;
		flex-wrap: wrap;
	}
	&__dropdown-second-item{
		padding: 0.5rem;
		padding-left: 1.5rem;
		display:flex;
		// justify-content: center;
		align-items: center;
		position: relative;
		// z-index: 4;
		background: $color-grey-light-1;
		&::before{

	    	content: "";
	    	position: absolute;
	    	bottom: 0;
			left: 0;
			transform: scaleY(0);
			height: 3px;
	       	width: 100%;
			background: $color-primary;
			z-index: 6;
			transition: transform .3s,
	                    height .4s cubic-bezier(0,0,0,1) .3s,
	                    background-color .1s;

	    }
	    &:hover::before {

			transform: scale(1);
			height: 100%;
		}
		&:hover .side-nav__dropdown-second-link{
			color: $color-light-1;
			z-index: 80;
		}
	}
	&__dropdown-second-link{
		color: $color-dark-1;
		display: flex;
		align-items: center;
		// justify-content: center;
		z-index: 4;
		position: relative;
		padding: .8rem 1rem;
		transition: 0.6s;
	}
	/* .side-nav__img */
	&__img {
		width: 4rem;
		height: 100%;
		
	}

	&__form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__date{
		width: 85%;
		height: 35px;
		margin-bottom: 20px;
		background:  $color-light-1;
		text-align: left;
		padding-left: 1.1rem;
	}

	&__select{

	}

	&__btn{
		background: $color-primary;
		color: $color-light-1;
	}	

	&__rating{
		font-size:200%;
	}
	@media only screen and(max-width: $bp-medium){
	    display: none;

	}
}
