<% var data = {
  title: "Статистика"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<!-- Main -->
	
	<div class="container" >
		
		

		<div class="box">
			
			<ul class="side-nav">
				<li class="side-nav__item ">
					<a href="" class="side-nav__link">
						Основная
					</a>
					<ul class="side-nav__dropdown">
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								За день
							</a>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								За неделю
							</a>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								За месяц
							</a>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								За год
							</a>
						</li>
						
					</ul>
				</li>
				<li class="side-nav__item">
					<a href="" class="side-nav__link">
						По сотрудникам
					</a>
					<ul class="side-nav__dropdown">
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								v.kumanovsky	
							</a>
							<ul class="side-nav__dropdown-second">
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За день
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За неделю
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За месяц
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За год
									</a>
								</li>

							</ul>

						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								v.kumanovsky	
							</a>
							<ul class="side-nav__dropdown-second">
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За день
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За неделю
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За месяц
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За год
									</a>
								</li>

							</ul>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								v.kumanovsky	
							</a>
							<ul class="side-nav__dropdown-second">
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За день
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За неделю
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За месяц
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За год
									</a>
								</li>

							</ul>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								v.kumanovsky	
							</a>
							<ul class="side-nav__dropdown-second">
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За день
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За неделю
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За месяц
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За год
									</a>
								</li>

							</ul>
						</li>
						
					</ul>
				</li>
				
				
			</ul>
			
			<div class="box__content">
				<h1 class="heading-secondary u-center-text">Статистика за последний месяц ( v.kumanovsky	)</h1>
				<p class="paragraph u-center-text my-normal">Динамика изменения средней оценки</p>
				<div class="box__line-chart-main">

					<div class="ct-chart-line-chart-main">
					
					</div>
				</div>
				<p class="paragraph u-center-text my-normal">Распределение оценок за отчетный период</p>
				<div class="box__pie-chart-main">

					<div class="ct-chart-pie-chart-main">
					
					</div>
				</div>
				
				<div class="box_user-chart">
					<p class="paragraph u-center-text my-normal">Оценки за отчетный период</p>

					<div class="ct-chart-user-chart">
					
					</div>
				</div>
				
				
			</div>
		</div>
		
	</div>
	



<%= _.template(require('./../includes/footer.html').default)(data) %>