<% var data = {
  title: "Статистика"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<!-- Main -->
	
	<div class="container" >
		
		

		<div class="box">
			
			<ul class="side-nav">
				<li class="side-nav__item ">
					<a href="" class="side-nav__link">
						Основная
					</a>
					<ul class="side-nav__dropdown">
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								За день
							</a>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								За неделю
							</a>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								За месяц
							</a>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								За год
							</a>
						</li>
						
					</ul>
				</li>
				<li class="side-nav__item">
					<a href="" class="side-nav__link">
						По сотрудникам
					</a>
					<ul class="side-nav__dropdown">
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								v.kumanovsky	
							</a>
							<ul class="side-nav__dropdown-second">
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За день
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За неделю
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За месяц
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За год
									</a>
								</li>

							</ul>

						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								v.kumanovsky	
							</a>
							<ul class="side-nav__dropdown-second">
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За день
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За неделю
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За месяц
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За год
									</a>
								</li>

							</ul>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								v.kumanovsky	
							</a>
							<ul class="side-nav__dropdown-second">
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За день
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За неделю
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За месяц
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За год
									</a>
								</li>

							</ul>
						</li>
						<li class="side-nav__dropdown-item">
							<a class="side-nav__dropdown-link" href="/catalog/orekhi/arakhis/">
								<!--  -->
								v.kumanovsky	
							</a>
							<ul class="side-nav__dropdown-second">
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За день
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За неделю
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За месяц
									</a>
								</li>
								<li class="side-nav__dropdown-second-item">
									<a class="side-nav__dropdown-second-link" href="/catalog/orekhi/arakhis/">
										<!--  -->
										За год
									</a>
								</li>

							</ul>
						</li>
						
					</ul>
				</li>
				<li class="side-nav__input">
					<form class="side-nav__form">
						<fieldset class="rating">
				    
						    <input type="radio" id="star5" name="rating" value="5" checked/><label for="star5" title="Rocks!" class="side-nav__rating">5 stars</label>
						    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good" class="side-nav__rating">4 stars</label>
						    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh" class="side-nav__rating">3 stars</label>
						    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad" class="side-nav__rating">2 stars</label>
						    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Bad" class="side-nav__rating">1 star</label>
						</fieldset>
						<input type="text" data-range="true" id='datepicker' data-multiple-dates-separator=" - " class="datepicker-here side-nav__date " id='custom-dates-js' name='dates' placeholder="Даты:">
						<div class="custom-select" style="width:85%;" >

							<select  class="side-nav__select " id='select-js' name="cars" form="side-nav__form"> <!--Supplement an id here instead of using 'name'-->
							  
							    <option value="0">Выбрать:</option>
							    <option value="1">Audi</option>
							    <option value="2">BMW</option>
							    <option value="3">Citroen</option>
							    <option value="4">Ford</option>
							    <option value="5">Honda</option>
							    <option value="6">Jaguar</option>
							    <option value="7">Land Rover</option>
							    <option value="8">Mercedes</option>
							    <option value="9">Mini</option>
							    <option value="10">Nissan</option>
							    <option value="11">Toyota</option>
							    <option value="12">Volvo</option>
							</select>
							
						</div>
						
						
						
			            <button class="my-normal side-nav__btn btn " id='btn-js' >
			                Вперед →
			            </button>
				        
					</form>
					
				</li>
				
				
			</ul>
			
			<div class="box__content">
				<h1 class="heading-secondary u-center-text" id='header-main-js'>Статистика за последний месяц</h1>
				<p class="u-center-text my-normal" id='count-total-js'>
				 Всего оценок: информация обновляется, пожалуйста, подождите...
				</p>
				<p class="paragraph u-center-text my-normal">Комментарии</p>
				<div class="comments">
					<div class="comments__item">
						<div class="comments__header">
							<div class="comments__left">
								<div class="comments__rating">
									4
								</div>
								<div class="comments__issue">
									<a class="comments__link" href="https://jira.cdek.ru/browse/SD-421281">
										SD-421281
									</a>
								</div>
								
							</div>
							
							<div class="comments__right">v.kumanovsky</div>
						</div>
						<div class="comments__comment">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no
						</div>
						<div class="comments__date">
							20-12-20
						</div>
					</div>
					<div class="comments__item">
						<div class="comments__header">
							<div class="comments__left">
								<div class="comments__rating">
									4
								</div>
								<div class="comments__issue">
									<a class="comments__link" href="https://jira.cdek.ru/browse/SD-421281">
										SD-421281
									</a>
								</div>
								
							</div>
							
							<div class="comments__right">v.kumanovsky</div>
						</div>
						<div class="comments__comment">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no
						</div>
						<div class="comments__date">
							20-12-20
						</div>
					</div>
					<div class="comments__item">
						<div class="comments__header">
							<div class="comments__left">
								<div class="comments__rating">
									4
								</div>
								<div class="comments__issue">
									<a class="comments__link" href="https://jira.cdek.ru/browse/SD-421281">
										SD-421281
									</a>
								</div>
								
							</div>
							
							<div class="comments__right">v.kumanovsky</div>
						</div>
						<div class="comments__comment">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no
						</div>
						<div class="comments__date">
							20-12-20
						</div>
					</div>
				</div>
				<p class="paragraph u-center-text my-normal">Динамика изменения средней оценки</p>
				<div class="lds-hourglass loader-js"></div>
				<div class="box__line-chart-main">

					<div class="ct-chart-line-chart-main">
					
					</div>
				</div>
				<p class="paragraph u-center-text my-normal">Распределение оценок за отчетный период</p>
				<div class="lds-hourglass loader-js"></div>
				<div class="box__pie-chart-main">

					<div class="ct-chart-pie-chart-main">
					
					</div>
				</div>
				<div class="box__table ">

					<table class="users-table my-normal" id='mainTable'>
					  <caption class=" paragraph my-normal">Статистика по сотрудникам</caption>

					  <thead class="users-table__head">
					    <tr class="users-table__head-row">
					      <th scope="col" class="users-table__head-data sort-table-js" >Логин</th>
					      
					      
					      <th scope="col" class="users-table__head-data sort-table-js" id='average-js'>Средний бал</th>
					      <th scope="col" class="users-table__head-data sort-table-js" id='sort-five-js'>5</th>
					      <th scope="col" class="users-table__head-data sort-table-js" >4</th>
					      <th scope="col" class="users-table__head-data sort-table-js" >3</th>
					      <th scope="col" class="users-table__head-data sort-table-js" >2</th>
					      <th scope="col" class="users-table__head-data sort-table-js" >1</th>
					      
					      <th scope="col" class="users-table__head-data sort-table-js">Всего</th>
					    </tr>
					  </thead>
					  <tbody class="users-table__body" id="users-table__body-js"><tr class="users-table__body-row">
						      <td class="users-table__body-data ">a.ryzhov</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">1</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">ka.nazarova</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">2</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">b.zamotaylo</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">1</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">a.tungusov</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">5</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">5</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">n.zonberg</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">1</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">vl.kardyukov</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">2</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">v.ukraincev</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">3</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">3</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">l.zhaleeva</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">4</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">4</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">a.knysh</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">5</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">5</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">m.shirling</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">7</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">7</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">martynov.k</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">4</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">4</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">g.fetisov</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">3</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">3</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">n.artemov</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">6</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">6</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">e.fedichkina</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">2</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">av.dudin</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">2</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">e.kalistratov</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">4</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">4</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">it-prog</td>
						     
						      
						      <td class="users-table__body-data">50</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">1</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">d.fedorova</td>
						     
						      
						      <td class="users-table__body-data">49</td>
						      <td class="users-table__body-data">7</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">8</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">rd.sharipov</td>
						     
						      
						      <td class="users-table__body-data">48</td>
						      <td class="users-table__body-data">5</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">6</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">zhdanova.v</td>
						     
						      
						      <td class="users-table__body-data">47</td>
						      <td class="users-table__body-data">10</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">12</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">p.kornishev</td>
						     
						      
						      <td class="users-table__body-data">47</td>
						      <td class="users-table__body-data">4</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">6</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">d.chikanov</td>
						     
						      
						      <td class="users-table__body-data">47</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">3</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">v.salnikov</td>
						     
						      
						      <td class="users-table__body-data">45</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">2</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">v.bocharov</td>
						     
						      
						      <td class="users-table__body-data">44</td>
						      <td class="users-table__body-data">3</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">5</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">e.kirillova</td>
						     
						      
						      <td class="users-table__body-data">44</td>
						      <td class="users-table__body-data">8</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">10</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">a.kinshin</td>
						     
						      
						      <td class="users-table__body-data">40</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      
						      <td class="users-table__body-data">1</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">a.churbakov</td>
						     
						      
						      <td class="users-table__body-data">40</td>
						      <td class="users-table__body-data">3</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">4</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">e.petrovskij</td>
						     
						      
						      <td class="users-table__body-data">40</td>
						      <td class="users-table__body-data">3</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">4</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">cdeksupport</td>
						     
						      
						      <td class="users-table__body-data">40</td>
						      <td class="users-table__body-data">9</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">3</td>
						      
						      <td class="users-table__body-data">13</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">alekseeva.ma</td>
						     
						      
						      <td class="users-table__body-data">38</td>
						      <td class="users-table__body-data">7</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">3</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">12</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">ya.muzychenko</td>
						     
						      
						      <td class="users-table__body-data">32</td>
						      <td class="users-table__body-data">5</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">4</td>
						      
						      <td class="users-table__body-data">9</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">v.kumanovsky</td>
						     
						      
						      <td class="users-table__body-data">31</td>
						      <td class="users-table__body-data">6</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">6</td>
						      
						      <td class="users-table__body-data">14</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">i.samochornov</td>
						     
						      
						      <td class="users-table__body-data">30</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">2</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">ya.prilukov</td>
						     
						      
						      <td class="users-table__body-data">30</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">2</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">a.silin</td>
						     
						      
						      <td class="users-table__body-data">30</td>
						      <td class="users-table__body-data">2</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">2</td>
						      
						      <td class="users-table__body-data">4</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">l.glazyrina</td>
						     
						      
						      <td class="users-table__body-data">25</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">2</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">d.fursova</td>
						     
						      
						      <td class="users-table__body-data">10</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">1</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">d.zhuravlev</td>
						     
						      
						      <td class="users-table__body-data">10</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">1</td>
						    </tr><tr class="users-table__body-row">
						      <td class="users-table__body-data ">a.nurgaliev</td>
						     
						      
						      <td class="users-table__body-data">10</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">0</td>
						      <td class="users-table__body-data">1</td>
						      
						      <td class="users-table__body-data">1</td>
						    </tr></tbody>
					  
					</table>
				</div>

				<div class="box__chart-main py-normal">
					<div class="lds-hourglass loader-js"></div>
					<div class=" ct-chart-main-0">
					
					</div>
					<div class=" ct-chart-main-1">
					
					</div>
					<div class=" ct-chart-main-2">
					
					</div>
					<div class=" ct-chart-main-3">
					
					</div>
					<div class=" ct-chart-main-4">
					
					</div>
					<div class=" ct-chart-main-5">
					
					</div>
					<div class=" ct-chart-main-6">
					
					</div>
					<div class=" ct-chart-main-7">
					
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
	
	<div id='month'></div>


<%= _.template(require('./../includes/footer.html').default)(data) %>